In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [54]:
path_flights="C:/Users/w130156/Downloads/Projet Flights/flights.csv"
FLIGHTS = pd.read_csv(path_flights)
print("flights")
FLIGHTS

flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2021,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2021-01-01T05:00:00Z
1,2021,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2021-01-01T05:00:00Z
2,2021,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2021-01-01T05:00:00Z
3,2021,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2021-01-01T05:00:00Z
4,2021,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2021-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252699,2021,7,3,1059,1100,-1,1214,1210,4,MQ,3230,N522MQ,JFK,DCA,51,213,11,0,2021-07-03T11:00:00Z
252700,2021,7,3,1059,1100,-1,1207,1213,-6,US,2171,N754UW,LGA,DCA,43,214,11,0,2021-07-03T11:00:00Z
252701,2021,7,3,1101,1110,-9,1305,1240,25,9E,3910,N813AY,JFK,RIC,61,288,11,10,2021-07-03T11:00:00Z
252702,2021,7,3,1105,1055,10,1435,1358,37,B6,971,N598JB,LGA,FLL,176,1076,10,55,2021-07-03T10:00:00Z
252703,2021,7,3,1107,1100,7,1220,1230,-10,WN,3297,N264LV,LGA,BNA,109,764,11,0,2021-07-03T11:00:00Z

In [55]:
path_airlines = "C:/Users/w130156/Downloads/Projet Flights/airlines.csv"
AIRLINES = pd.read_csv(path_airlines)
print("airlines")
AIRLINES

airlines

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

In [66]:
path_airports ="C:/Users/w130156/Downloads/Projet Flights/airports.csv"
AIRPORTS = pd.read_csv(path_airports)
print("airports")
AIRPORTS

airports

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35,-5,A,America/New_York

In [67]:
path_planes="C:/Users/w130156/Downloads/Projet Flights/planes.csv"
PLANES = pd.read_csv(path_planes)
print("planes")
PLANES

planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,,Turbo-fan
1,N102UW,1998,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
2,N103US,1999,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
3,N104UW,1999,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
4,N10575,2002,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002,Fixed wing multi engine,BOEING,717-200,2,100,,Turbo-fan
3318,N997DL,1992,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,,Turbo-fan
3319,N998AT,2002,Fixed wing multi engine,BOEING,717-200,2,100,,Turbo-fan
3320,N998DL,1992,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,,Turbo-jet
3321,N999DN,1992,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,,Turbo-jet

In [68]:
path_weather="C:/Users/w130156/Downloads/Projet Flights/weather.csv"
WEATHER = pd.read_csv(path_weather)
print("weather")
WEATHER

weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2021,1,1,0,37.04,21.92,53.97,230,10.357019999999999,11.918651475599997,0.0,1013.9,10.0,2021-01-01T00:00:00Z
1,EWR,2021,1,1,1,37.04,21.92,53.97,230,13.809359999999998,15.891535300799996,0.0,1013,10.0,2021-01-01T01:00:00Z
2,EWR,2021,1,1,2,37.94,21.92,52.09,230,12.658579999999999,14.567240692399997,0.0,1012.6,10.0,2021-01-01T02:00:00Z
3,EWR,2021,1,1,3,37.94,23,54.51,230,13.809359999999998,15.891535300799996,0.0,1012.7,10.0,2021-01-01T03:00:00Z
4,EWR,2021,1,1,4,37.94,24.08,57.04,240,14.960139999999999,17.215829909199996,0.0,1012.8,10.0,2021-01-01T04:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26125,LGA,2021,12,30,19,35.96,19.94,51.78,340,13.809359999999998,15.891535300799996,0.0,1017.1,10.0,2021-12-30T19:00:00Z
26126,LGA,2021,12,30,20,33.98,17.06,49.51,330,17.261699999999998,19.864419125999994,0.0,1018.8,10.0,2021-12-30T20:00:00Z
26127,LGA,2021,12,30,21,32,15.08,49.19,340,14.960139999999999,17.215829909199996,0.0,1019.5,10.0,2021-12-30T21:00:00Z
26128,LGA,2021,12,30,22,30.92,12.92,46.74,320,17.261699999999998,19.864419125999994,0.0,1019.9,10.0,2021-12-30T22:00:00Z
26129,LGA,2021,12,30,23,28.94,10.94,46.41,330,18.41248,21.188713734399997,0.0,1020.9,10.0,2021-12-30T23:00:00Z

In [69]:
path_weather_with_3_doublons ="C:/Users/w130156/Downloads/Projet Flights/weather_with_3_doublons.csv"
WEATHER_WITH_3_DOUBLONS = pd.read_csv(path_weather_with_3_doublons)
print("weather_with_3_doublons")
WEATHER_WITH_3_DOUBLONS

weather_with_3_doublons

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30T19:00:00Z
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30T20:00:00Z
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30T21:00:00Z
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30T22:00:00Z
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30T23:00:00Z

In [70]:
def no_airports():
    no_airports = AIRPORTS['name'].drop_duplicates(keep='first').count()
    return no_airports
no_aeroports()

1440

In [77]:
# 1.1.2
def no_airports_departures():
    cancel_flights_table = FLIGHTS[FLIGHTS[['air_time', 'dep_time', 'arr_time']].eq(' ').all(axis=1)]
    cancel_flights = cancel_flights_table["origin"].count()
    cancel_flights
    sched_flights = FLIGHTS["origin"].count()
    sched_flights
    no_departs = squed_flights - cancel_flights
    no_departs
    return no_departs
no_airports_departures()

246223

In [78]:
#1.1.3
def no_airports_destination():
    destination = FLIGHTS['dest'].drop_duplicates(keep='first').count()
    return destination
no_airports_destination()

103

In [79]:
# 1.3.1.
def no_carrier():
    compagnies = AIRLINES['carrier'].drop_duplicates(keep='first').count()
    return compagnies
no_carrier()

16

In [76]:
# 1.3.2
def no_planes():
    planes = PLANES['tailnum'].drop_duplicates(keep='first').count()
    return avions
no_avions()

3322

In [13]:
def flight_cancelled():
    print(
        len(FLIGHTS.loc[FLIGHTS["dep_time"] == " "]
            .loc[FLIGHTS["arr_time"] == " "]
            .loc[FLIGHTS["air_time"] == " "]
            ))


flight_cancelled()

6481

In [82]:
# 1.3.3
def flight_cancelled():
    flight_cancelled_table = FLIGHTS[FLIGHTS[['air_time', 'dep_time', 'arr_time']].eq(' ').all(axis=1)]
    no_flight_cancelled = flight_cancelled_table["origin"].count()
    return no_flight_cancelled
flight_cancelled()

6481

In [87]:
#2.1.
def busiest_departure_airport():
    aeroport = FLIGHTS["origin"].mode()
    return aeroport
busiest_departure_airport()

0    EWR
Name: origin, dtype: object

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,minute,time_hour,faa,name,lat,lon,alt,tz,dst,tzone
0,2021,1,1,517,515,2,830,819,11,UA,...,15,2021-01-01T05:00:00Z,IAH,George Bush Intercontinental,29.984433,-95.341442,97.0,-6.0,A,America/Chicago
1,2021,1,1,533,529,4,850,830,20,UA,...,29,2021-01-01T05:00:00Z,IAH,George Bush Intercontinental,29.984433,-95.341442,97.0,-6.0,A,America/Chicago
2,2021,1,1,542,540,2,923,850,33,AA,...,40,2021-01-01T05:00:00Z,MIA,Miami Intl,25.793250,-80.290556,8.0,-5.0,A,America/New_York
3,2021,1,1,544,545,-1,1004,1022,-18,B6,...,45,2021-01-01T05:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,1,1,554,600,-6,812,837,-25,DL,...,0,2021-01-01T06:00:00Z,ATL,Hartsfield Jackson Atlanta Intl,33.636719,-84.428067,1026.0,-5.0,A,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252699,2021,7,3,1059,1100,-1,1214,1210,4,MQ,...,0,2021-07-03T11:00:00Z,DCA,Ronald Reagan Washington Natl,38.852083,-77.037722,15.0,-5.0,A,America/New_York
252700,2021,7,3,1059,1100,-1,1207,1213,-6,US,...,0,2021-07-03T11:00:00Z,DCA,Ronald Reagan Washington Natl,38.852083,-77.037722,15.0,-5.0,A,America/New_York
252701,2021,7,3,1101,1110,-9,1305,1240,25,9E,...,10,2021-07-03T11:00:00Z,RIC,Richmond Intl,37.505167,-77.319667,167.0,-5.0,A,America/New_York
252702,2021,7,3,1105,1055,10,1435,1358,37,B6,...,55,2021-07-03T10:00:00Z,FLL,Fort Lauderdale Hollywood Intl,26.072583,-80.152750,9.0,-5.0,A,America/New_York
252703,2021,7,3,1107,1100,7,1220,1230,-10,WN,...,0,2021-07-03T11:00:00Z,BNA,Nashville Intl,36.124472,-86.678194,599.0,-6.0,A,America/Chicago

In [90]:
# 2.2. 
def most_frequent_destinations():
    merged_tables = FLIGHTS.merge(AIRPORTS,how ='left', left_on ='dest', right_on ='faa')
    frequent_destinations = merged_tables['name'].value_counts(normalize=True).head(10)
    return frequent_destinations

most_frequent_destinations()

Hartsfield Jackson Atlanta Intl       0.052416
Chicago Ohare Intl                    0.051233
Los Angeles Intl                      0.048160
General Edward Lawrence Logan Intl    0.046804
Orlando Intl                          0.043067
Charlotte Douglas Intl                0.042302
San Francisco Intl                    0.039391
Fort Lauderdale Hollywood Intl        0.038233
Miami Intl                            0.036188
Ronald Reagan Washington Natl         0.029904
Name: name, dtype: float64

In [91]:
# 2.3.
def less_frequent_destinations():
    destinations_moins_prisÃ©es = merged_tables['name'].value_counts(normalize=True).tail(10)
    return destinations_moins_prisÃ©es
less_frequent_destinations()

Charlottesville-Albemarle    0.000126
Jackson Hole Airport         0.000101
Gallatin Field               0.000081
Palm Springs Intl            0.000077
Key West Intl                0.000069
Cherry Capital Airport       0.000065
Montrose Regional Airport    0.000061
Yampa Valley                 0.000061
South Bend Rgnl              0.000016
Blue Grass                   0.000004
Name: name, dtype: float64

In [93]:
# 2.4.
def planes_taken_off_the_most():
    planes_most  = FLIGHTS['tailnum'].value_counts().head(10)
    return planes_most
planes_taken_off_the_most()

          1973
N725MQ     443
N723MQ     394
N713MQ     385
N722MQ     378
N711MQ     376
N258JB     332
N353JB     316
N542MQ     310
N351JB     310
Name: tailnum, dtype: int64

In [95]:
# 2.5 
def planes_taken_off_the_least():
    les_10_avions_moins = FLIGHTS['tailnum'].value_counts().tail(10)
    return les_10_avions_moins
planes_taken_off_the_least()

N914DN    1
N7ACAA    1
N302AS    1
N585AS    1
N7AXAA    1
N907DA    1
N941FR    1
N350SW    1
N320AS    1
N352NB    1
Name: tailnum, dtype: int64

In [96]:
# 4.1
def landed_in_Houston():
    landed_Houston = FLIGHTS.loc[FLIGHTS['dest'].isin(['IAH','HOU'])]
    return landed_Houston
landed_in_Houston()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2021,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2021-01-01T05:00:00Z
1,2021,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2021-01-01T05:00:00Z
32,2021,1,1,623,627,-4,933,932,1,UA,496,N459UA,LGA,IAH,229,1416,6,27,2021-01-01T06:00:00Z
81,2021,1,1,728,732,-4,1041,1038,3,UA,473,N488UA,LGA,IAH,238,1416,7,32,2021-01-01T07:00:00Z
89,2021,1,1,739,739,0,1104,1038,26,UA,1479,N37408,EWR,IAH,249,1400,7,39,2021-01-01T07:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252543,2021,7,3,811,815,-4,1054,1057,-3,B6,281,N273JB,JFK,HOU,207,1428,8,15,2021-07-03T08:00:00Z
252581,2021,7,3,846,853,-7,1129,1140,-11,UA,1711,N73270,EWR,IAH,200,1400,8,53,2021-07-03T08:00:00Z
252594,2021,7,3,855,855,0,1137,1156,-19,UA,1058,N24706,LGA,IAH,191,1416,8,55,2021-07-03T08:00:00Z
252677,2021,7,3,1025,1030,-5,1300,1323,-23,UA,295,N403UA,LGA,IAH,190,1416,10,30,2021-07-03T10:00:00Z
252692,2021,7,3,1052,1100,-8,1328,1332,-4,UA,1695,N76522,EWR,IAH,189,1400,11,0,2021-07-03T11:00:00Z

In [99]:
# 4.2
def NYC_to_Seattle():
    NYC_to_Seattle_table = FLIGHTS.loc[FLIGHTS['dest'].isin(["SEA"])]
    NYC_Seattle = NYC_to_Seattle_table['dest'].value_counts()
    return NYC_Seattle
NYC_to_Seattle()

SEA    2736
Name: dest, dtype: int64

In [101]:
# 4.3 
def carrier_NYC_to_Seattle():
    NYC_Seattle_carrier = NYC_to_Seattle_table['carrier'].drop_duplicates(keep='first').count()
    return NYC_Seattle_carrier
carrier_NYC_to_Seattle()

5

In [102]:
# 4.4 
def plane_NYC_to_Seattle():
    flights_sea = FLIGHTS[FLIGHTS['dest']=='SEA']
    return flights_sea['tailnum'].nunique()
plane_NYC_to_Seattle()
# NYC_vers_Seattle_avions

857

In [105]:
# 7
def destinations_exclusive():
    groupby_destination_table = FLIGHTS.groupby(by="dest").nunique()
    exclusive  = groupby_destination_table[groupby_destination_table['carrier'] == 1 ]
    return list(exclusive.index.values) 

destinations_exclusive()

['ABQ',
 'ACK',
 'ALB',
 'BHM',
 'BUR',
 'BZN',
 'CAK',
 'CHO',
 'CRW',
 'EYW',
 'GSO',
 'HDN',
 'ILM',
 'LEX',
 'LGB',
 'MDW',
 'MSN',
 'MTJ',
 'MYR',
 'OAK',
 'OKC',
 'PSE',
 'PSP',
 'PVD',
 'SAV',
 'SBN',
 'SMF',
 'SNA',
 'TUL']

In [106]:
# 8
def flights_UAD():
    United_American_Delta_table  = FLIGHTS.loc[FLIGHTS['carrier'].isin(["UA", "AA", "DL"])]
    return United_American_Delta_table 
flights_UAD()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2021,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2021-01-01T05:00:00Z
1,2021,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2021-01-01T05:00:00Z
2,2021,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2021-01-01T05:00:00Z
4,2021,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2021-01-01T06:00:00Z
5,2021,1,1,554,558,-4,740,728,12,UA,1696,N39463,EWR,ORD,150,719,5,58,2021-01-01T05:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252689,2021,7,3,1048,1055,-7,1330,1347,-17,DL,1275,N389DA,JFK,SLC,256,1990,10,55,2021-07-03T10:00:00Z
252692,2021,7,3,1052,1100,-8,1328,1332,-4,UA,1695,N76522,EWR,IAH,189,1400,11,0,2021-07-03T11:00:00Z
252695,2021,7,3,1056,1055,1,1359,1411,-12,DL,1903,N364NB,LGA,SRQ,154,1047,10,55,2021-07-03T10:00:00Z
252696,2021,7,3,1057,1059,-2,1249,1307,-18,UA,765,N469UA,EWR,DEN,202,1605,10,59,2021-07-03T10:00:00Z
252698,2021,7,3,1059,1100,-1,1340,1349,-9,DL,695,N910DE,JFK,MCO,135,944,11,0,2021-07-03T11:00:00Z